<div class="bg-white p-4">
    <h1 class="text-gray-800 text-2xl mb-4">Bảng Tin Tức</h1>
  
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b">id</th>
            <th class="py-2 px-4 border-b">Tên Danh Mục</th>
            <th class="py-2 px-4 border-b">Nội dung</th>
            <th class="py-2 px-4 border-b">Hình ảnh</th>
          </tr>
        </thead>
        <tbody *ngIf="categories && categories.length">
          <tr *ngFor="let category of categories; index as i">
            <td class="py-2 px-4 border-b">{{ i }}</td>
            <td class="py-2 px-4 border-b">{{ category.name }}</td>
            <td class="py-2 px-4 border-b">{{ category.desc }}</td>
            <td class="py-2 px-4 border-b">{{ category.image }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
