<form (ngSubmit)="addProduct()">
    <div>
      <label for="title">Tiêu đề:</label>
      <input type="text" id="title" name="title" [(ngModel)]="products.title" required>
    </div>
  
    <div>
      <label for="content">Nội dung:</label>
      <textarea id="content" name="content" [(ngModel)]="products.content" required></textarea>
    </div>
  
    <div>
      <label for="image">Hình ảnh:</label>
      <input type="file" id="image" name="image" >
    </div>
  
    <button type="submit">Submit</button>
  </form>
  
