<div class="container">
  <header>
    <div class="logo">
      <img src="logo.png" alt="Logo" />
      <h1>Tin tức hàng ngày</h1>
    </div>

    <div class="header-left">
      <div class="search">
        <input type="text" placeholder="Tìm kiếm..." />
        <button>Tìm kiếm</button>
      </div>
      <div class="login">
        <a href="#">Đăng ký</a>
        <a href="#">Đăng nhập</a>
      </div>
    </div>
  </header>
  <nav >
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li *ngFor="let category of categories"><a href="#">{{category.name}}</a></li>
    </ul>
  </nav>
  <main><router-outlet /></main>
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>VNExpress</h3>
            <ul>
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Quảng cáo</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Chuyên mục</h3>
            <ul>
              <li><a href="#">Thời sự</a></li>
              <li><a href="#">Thế giới</a></li>
              <li><a href="#">Kinh doanh</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Theo dõi chúng tôi</h3>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>Bản quyền © 2023 VNExpress. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
