header {
    background-color: #f2f2f5;
    color: #110f0f;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

header .header-left {
    display: flex;

    text-align: center;
}
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  

  .search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .search input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
  }
  
  .search button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search button:hover {
    background-color: #555;
  }
    
  .login a {
    color: #080808;
    text-decoration: none;
    margin-left: 10px;
  }

  /* nav */

  nav {
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #4d4b4b;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }

  /* footer */

  footer {
    padding: 20px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    width: 33.33%;
    padding: 0 15px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding-top: 15px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer-bottom p {
    font-size: 12px;
    margin: 0;
  }
  
  
  