<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<div
  class="relative mx-auto max-w-screen-xl px-4 py-4 sm:px-6 lg:flex lg:items-center lg:px-8"
>
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
    <h1 class="text-3xl font-extrabold sm:text-5xl flex">
      {{ category.name }}
      <strong class="block font-extrabold text-rose-700"> News </strong>
    </h1>
  </div>
</div>
<hr class="container mx-auto my-4 border-gray-800 border-solid border-2" />
<div class="grid grid-cols-2">
    <div>

    </div>
</div>
