.news-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-news {
    flex-basis: 100%;
  }
  
  .small-news {
    display: flex;
    flex-basis: 50%;
  }
  
  .small-news article {
    margin-bottom: 20px;
  }
  
  .small-news h3, .small-news p {
    margin: 0;
  }

  .news-section {
    display: flex;
    justify-content: center;
  }
  
  
  